figure{

margin: 0;

}

header {

background-color: #1b2127;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
height: 90px;


}

.container{

width: 1080px;
margin: 0 auto;
display: inherit;
justify-content: inherit;
align-items: inherit;
height: inherit;
flex-wrap: inherit;

}

.menu{

height: inherit;

}

.header a{

color: white;
font-size: 18px;
text-decoration: none;
height: inherit;
display: flex;
align-items: center;
padding: 0 10px;

}

.header ol{

display: flex;
height: inherit;

}

.header ol li{

height: inherit;

}

ol,
ul{

margin: 0;
padding: 0;
list-style: none;

}

body{

font-family: 'Rubik', sans-serif;
margin: 0;
background-color: whitesmoke;

}

h1,
h2,
h3,
h4,
h5,
h6{

font-family: 'Raleway', sans-serif;
font-weight: normal;
   
}

h1{

font-size: 32px;
text-decoration: dashed;
margin: 0;
align-items: center;

}


.hero{

height: 250px;
background-color: #1b2127;
color: whitesmoke;
display:flex;
align-items: center;
justify-content: space-between;

}

.hero-image{

object-fit: contain;

}


h1 strong{

color: #026fff;

}

.projects{

background-color: whitesmoke;
padding: 20px;
font-size: 22px;

}


.project{

border: 2px #056fff solid;
border-radius: 15px;
margin: 15px auto;
padding: 10px;
background-color: white;
display: flex;
font-size: 18px;
align-items: center;
justify-content: space-around;

}

.project-title{

font-size: 30px;
margin-top: 0;
margin-bottom: 10px;
    
}

.project-subtitle{

font-size: 16px;

}

.project-subtitle,
.project-date,
.project-url{

margin: 10px 0;

}

.project-description{

font-size: 18px;

}


.project-details{

width: 600px;

}

.project-imageContainer{

width: 250px;


}

.skills-list{

background-color: whitesmoke;
display: flex;
justify-content:space-evenly;
align-items: center;
flex-wrap: wrap;

}

.skills-super-title{

margin-left:10px;
font-size: 30px;

}

.skills{

margin: 10px;
width: 300px;
flex-shrink: 0;
border-radius: 10px;
background: whitesmoke;
overflow: hidden;
display: flex;

}



.skill-detail{

    margin: 10px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;


}

.contact{

background-color: #056fff;
color: white;
height: 120px;
display: flex;
align-items: center;
justify-content: space-between;


}

.contact h3{

padding-left: 30px;
font-size: 24px;

}

.social-link {
   
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 20px;
}

.social-link.facebook{

background-image: url('../images/facebook.svg');

}

.social-link.twitter{

background-image: url('../images/twitter.svg');
    
}

.social-link.instagram{

background-image: url('../images/instagram.svg');
    
}

.social-link.github{

background-image: url('../images/github.svg');
    
}

footer{

color: white;
background-color:#1b2127;
display: flex;
margin: auto;
align-items: center;
justify-content: space-between;
}
